* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

body {

    width: 75%;

    max-width: 650px;

        min-height: 320px;

        font-size: 100%;

        font-family: 'Poiret', Arial, serif;

        margin: auto;
    colour: #2c072d;
    line-height: 1.8em;

    background-image:
     url(../images/websitebackground2.png);
}

.home {
    background: #993399;
}

.about me{
    background: #540656;
}

.my work{
    background: #993399;
}

.contact me{
    background: #540656;
}


        

section {padding: 2em 0 2em 0}

        

    /* ----------------TYPOGRAPHY------------------ */




h1 {

font-weight: 400;
    font-family: 'Poiret', Arial, serif;
    color; #2c072d;
    line-height: 1.5em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
    

}

p {
    font-weight: 300;
    font-family: 'Poiret', Arial, serif;
    color; #993399;
    line-height: 1.5em;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid;
}





    h1 {font size: 10.78;}

    p {font size: 4.56;}


    

    header h2 {

        font-style: bold;

        font-size: 1.8em;

        padding: -0.5em 0 1em 0;

    }

    


    

    

    blockquote{

    

    padding: 2em 0;

    font-size: 1.75em;

    line-height: 1.5em;

    margin: 0;

    

    }

    

    blockquote cite{

    font-size: .75em;

    

    }

.back-to-top {
    display:;
    position:fixed;
    bottom:20px:
        right:20px;
    background-color: #993399;
    padding:20;
    color; #ffffff;
    
}

    

    /* -------------LINKS ----------*/

    

    a {

    color: #000000;

    text-decoration: none;
        font-size: 1.1em;

    }

    

    /*-----------------IMAGES------------*/

img {
    display:inherit;
    max-width: 50%;
    margin: 0em auto;
    margin-bottom: 0em;
    margin-top: 0em;
}



.icons {
    margin-top: -2000em;
    margin-bottom: -2000em;
}

.visual marque {
    margin-top: -2000em;
    margin-bottom: -2000em;
}

.album covers {
    margin-top: -2000em;
    margin-bottom: -2000em;
}

.master apprentice {
    margin-top: -2000em;
    margin-bottom: -2000em;
}

.home {
    margin-bottom: auto;
    margin-top: auto;
    
}



    /*-----------------NAV-------------*/

    

   a:link { 
    text-decoration:none;
    letter-spacing: 2px;
    text-transform:uppercase;
}

/* unvisited link */
a;link {
    color: #993399;
    text-transform: uppercase;}

/*visited link */
a:link{
    color: #993399;
    text-transform; uppercase; 
    }
    
    
nav {
        border-top: 1px solid #540656;
        border-bottom: 1px solid #540656;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    width 100%;
}
    
    
nav ul {
    text-align: center; 
    text-transform: uppercase;
    color: #540656;
    letter-spacing: 2px;
    }
    

    nav ul li {
	display: inline;
	margin: 2px;
	text-align: center;

	}
    
    li { display: inline;
    
    }





box-decoration-break: 6px 4px 4px #888888;